.info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.manager, .member {
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 33vw;
    text-align: center;
}

@media (min-width: 40rem) {
    .info {
        flex-direction: row;
        padding-top: 0;
    }
    .manager, .member {
        border: 1px solid white;
    }
}
